#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    /*
     * Enable the automouse layer on trackball movement without a timeout.
     * All transparent positions are excluded, so only the I/J/K/L mouse
     * controls deactivate it when pressed.
     */
    automouse_layer: automouse_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        excluded-positions = <
            0 1 2 3 4 5 6 8 9
            10 11 12 13 14 15 19
            20 21 22 23 24 25 26 27 28 29 30 31
            32 33 34 35 36 37 38 39 40 41 42
        >;
    };
};

&pointing_listener {
    input-processors = <&automouse_layer 5 0>,
                       <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    /* While K is held, convert trackball movement into scrolling. */
    scroller {
        layers = <6>;
        input-processors = <&zip_xy_to_scroll_mapper>,
                           <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
